In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
from sklearn.model_selection import KFold
import warnings
import time
import sys
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import BayesianRidge
warnings.simplefilter(action='ignore', category=FutureWarning)
import gc

In [2]:
#this is used to reduce the memory usage of the dataframe 
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [3]:
#Read the csv 
new_transactions = pd.read_csv('../input/elo-merchant-category-recommendation/new_merchant_transactions.csv', parse_dates=['purchase_date'])
historical_transactions = pd.read_csv('../input/elo-merchant-category-recommendation/historical_transactions.csv', parse_dates=['purchase_date'])

def binarize(df):
    """
    Parameters
    -----------
    df : input dataframe 
    
    Return 
    ----------
    dataframe with column authorized_flag and category_1 ,mapped to either 1 or 0 """
    for col in ['authorized_flag', 'category_1']:
        df[col] = df[col].map({'Y':1, 'N':0})
    return df

historical_transactions = binarize(historical_transactions)
new_transactions = binarize(new_transactions)

In [4]:
%%time
def read_data(input_file):
    #change the column type to date type
    #calculate the elapsed time 
    df = pd.read_csv(input_file)
    df['first_active_month'] = pd.to_datetime(df['first_active_month'])
    df['elapsed_time'] = (datetime.date(2018, 2, 1) - df['first_active_month'].dt.date).dt.days
    return df

train = read_data('../input/elo-merchant-category-recommendation/train.csv')
test = read_data('../input/elo-merchant-category-recommendation/test.csv')

#take out the target column in the training data 
target = train['target']
del train['target']
gc.collect()

CPU times: user 1.6 s, sys: 4 ms, total: 1.6 s
Wall time: 1.61 s

In [5]:
historical_transactions['purchase_amount_new'] = np.round(historical_transactions['purchase_amount'] / 0.00150265118 + 497.06,2)
historical_transactions.head()

   authorized_flag         ...         purchase_amount_new
0                1         ...                       29.00
1                1         ...                        9.17
2                1         ...                       17.65
3                1         ...                        7.69
4                1         ...                       16.00

[5 rows x 15 columns]

In [6]:
train.head()

  first_active_month          card_id      ...       feature_3  elapsed_time
0         2017-06-01  C_ID_92a2005557      ...               1           245
1         2017-01-01  C_ID_3d0044924f      ...               0           396
2         2016-08-01  C_ID_d639edf6cd      ...               0           549
3         2017-09-01  C_ID_186d6a6901      ...               0           153
4         2017-11-01  C_ID_cdbd2c0db2      ...               0            92

[5 rows x 6 columns]

In [7]:
historical_transactions.sort_values(['card_id','purchase_date'],inplace = True,ascending= False)

In [8]:
gc.collect()
historical_transactions.head(50)

          authorized_flag         ...         purchase_amount_new
22821209                1         ...                        1.00
22821184                0         ...                        1.00
22821171                0         ...                        1.00
22821210                0         ...                        1.00
22821237                0         ...                        1.00
22821189                1         ...                       50.00
22821170                1         ...                       38.35
22821160                1         ...                       46.84
22821181                1         ...                       40.00
22821166                1         ...                       12.00
22821201                1         ...                      290.00
22821219                1         ...                       21.50
22821186                1         ...                       10.00
22821217                1         ...                       27.00
22821227                1         ...                       65.02
22821235                1         ...                        9.60
22821159                1         ...                       10.80
22821198                1         ...                       12.00
22821193                1         ...                       50.00
22821206                1         ...                       50.00
22821203                0         ...                       12.00
22821232                0         ...                       12.00
22821172                0         ...                       12.00
22821178                0         ...                       12.00
22821164                1         ...                       12.00
22821175                1         ...                       18.00
22821196                1         ...                       29.00
22821162                1         ...                       69.50
22821177                1         ...                       24.35
22821222                1         ...                      110.00
22821224                1         ...                       12.00
22821204                1         ...                       12.00
22821173                0         ...                       12.00
22821195                1         ...                       61.00
22821197                1         ...                       20.00
22821154                1         ...                       12.00
22821168                1         ...                       20.00
22821176                1         ...                       20.00
22821216                1         ...                       15.00
22821194                1         ...                       20.00
22821192                1         ...                       30.00
22821233                1         ...                       12.00
22821161                1         ...                       12.00
22821236                1         ...                       20.00
22821202                1         ...                       40.00
22821199                1         ...                      125.00
22821226                1         ...                      140.92
22821229                1         ...                       17.50
22821163                1         ...                       12.00
22821169                1         ...                       82.52

[50 rows x 15 columns]

In [115]:
#two level group by ['card_id ' , 'month_lag']
running_sum = historical_transactions.groupby(['card_id','month_lag'],as_index=False)['purchase_amount_new'].sum()
# historical_transactions['month_lag'].min()
running_sum.head()

           card_id  month_lag  purchase_amount_new
0  C_ID_00007093c1        -12              1100.20
1  C_ID_00007093c1        -11              1168.90
2  C_ID_00007093c1        -10              1633.25
3  C_ID_00007093c1         -9              2691.13
4  C_ID_00007093c1         -8              2876.63

In [116]:
running_sum.head()

           card_id  month_lag  purchase_amount_new
0  C_ID_00007093c1        -12              1100.20
1  C_ID_00007093c1        -11              1168.90
2  C_ID_00007093c1        -10              1633.25
3  C_ID_00007093c1         -9              2691.13
4  C_ID_00007093c1         -8              2876.63

In [117]:
wide_running_sum = running_sum.pivot(index= 'card_id',columns= 'month_lag',values = 'purchase_amount_new')

In [118]:
wide_running_sum.head()

month_lag         -13      -12      -11   ...         -2        -1        0
card_id                                   ...
C_ID_00007093c1   NaN  1100.20  1168.90   ...     1985.22   1186.59  1805.18
C_ID_0001238066   NaN      NaN      NaN   ...     4121.19   3884.94  2017.62
C_ID_0001506ef0  51.0   184.48   286.53   ...     1579.29   1365.30  1620.25
C_ID_0001793786   NaN      NaN      NaN   ...     9683.56  14936.02  6282.35
C_ID_000183fdda   NaN      NaN      NaN   ...     4312.91   8872.47  3510.10

[5 rows x 14 columns]

In [119]:
wide_running_sum.reset_index(drop = False,inplace = True)
wide_running_sum.head()

month_lag          card_id   -13      -12   ...          -2        -1        0
0          C_ID_00007093c1   NaN  1100.20   ...     1985.22   1186.59  1805.18
1          C_ID_0001238066   NaN      NaN   ...     4121.19   3884.94  2017.62
2          C_ID_0001506ef0  51.0   184.48   ...     1579.29   1365.30  1620.25
3          C_ID_0001793786   NaN      NaN   ...     9683.56  14936.02  6282.35
4          C_ID_000183fdda   NaN      NaN   ...     4312.91   8872.47  3510.10

[5 rows x 15 columns]

In [120]:
wide_running_sum['last_six_month'] = wide_running_sum.iloc[:,-7:].sum(axis=1)
wide_running_sum['first_six_month'] = wide_running_sum.iloc[:,2:9].sum(axis=1)
wide_running_sum['ratio'] =wide_running_sum['first_six_month']/wide_running_sum['last_six_month']
# df['Fruit Total']=df.iloc[:,-4:].sum(axis=1)
wide_running_sum.head()

month_lag          card_id   -13    ...     first_six_month     ratio
0          C_ID_00007093c1   NaN    ...            14966.90  1.232412
1          C_ID_0001238066   NaN    ...                0.00  0.000000
2          C_ID_0001506ef0  51.0    ...             2392.38  0.292293
3          C_ID_0001793786   NaN    ...            20188.77  0.286453
4          C_ID_000183fdda   NaN    ...             2831.40  0.109890

[5 rows x 18 columns]

In [121]:


wide_running_sum.iloc[:,1:3].head()

month_lag   -13      -12
0           NaN  1100.20
1           NaN      NaN
2          51.0   184.48
3           NaN      NaN
4           NaN      NaN

In [122]:
i = 2
wide_running_sum.iloc[:,3:5].head()

month_lag      -11      -10
0          1168.90  1633.25
1              NaN      NaN
2           286.53      NaN
3              NaN      NaN
4              NaN      NaN

In [123]:
#create a for loop for all these shit 


step = 1


while step <7 : 
    print ('value of step : {}'.format(step))
    inter_col1 = 'first' + str(step)
    inter_col2 = 'last' + str(step)
    final_col = 'ratio' +str(step)
    wide_running_sum[inter_col1] = wide_running_sum.iloc[:,1:(2+step)].sum(axis=1)
    print('wide_running_sum[inter_col1] = wide_running_sum.iloc[:,1:{}].sum(axis=1)'.format(2+step))
    wide_running_sum[inter_col2] = wide_running_sum.iloc[:,(2+step):(2+2*step)].sum(axis=1)
    print('wide_running_sum[inter_col2] = wide_running_sum.iloc[:,{}:{}].sum(axis=1)'.format(2+step,2+2*step))
    wide_running_sum[final_col] = wide_running_sum[inter_col2] / wide_running_sum[inter_col1]
    
    del wide_running_sum[inter_col1]
    del wide_running_sum[inter_col2]
    step +=1

wide_running_sum.head(20)

value of step : 1
wide_running_sum[inter_col1] = wide_running_sum.iloc[:,1:3].sum(axis=1)
wide_running_sum[inter_col2] = wide_running_sum.iloc[:,3:4].sum(axis=1)
value of step : 2
wide_running_sum[inter_col1] = wide_running_sum.iloc[:,1:4].sum(axis=1)
wide_running_sum[inter_col2] = wide_running_sum.iloc[:,4:6].sum(axis=1)
value of step : 3
wide_running_sum[inter_col1] = wide_running_sum.iloc[:,1:5].sum(axis=1)
wide_running_sum[inter_col2] = wide_running_sum.iloc[:,5:8].sum(axis=1)
value of step : 4
wide_running_sum[inter_col1] = wide_running_sum.iloc[:,1:6].sum(axis=1)
wide_running_sum[inter_col2] = wide_running_sum.iloc[:,6:10].sum(axis=1)
value of step : 5
wide_running_sum[inter_col1] = wide_running_sum.iloc[:,1:7].sum(axis=1)
wide_running_sum[inter_col2] = wide_running_sum.iloc[:,7:12].sum(axis=1)
value of step : 6
wide_running_sum[inter_col1] = wide_running_sum.iloc[:,1:8].sum(axis=1)
wide_running_sum[inter_col2] = wide_running_sum.iloc[:,8:14].sum(axis=1)

month_lag          card_id     -13    ...         ratio5     ratio6
0          C_ID_00007093c1     NaN    ...       0.894942   0.959298
1          C_ID_0001238066     NaN    ...            inf        inf
2          C_ID_0001506ef0   51.00    ...       8.038102   4.118635
3          C_ID_0001793786     NaN    ...       9.363667   5.174717
4          C_ID_000183fdda     NaN    ...            inf        inf
5          C_ID_00024e244b  111.84    ...      10.704540   9.613701
6          C_ID_0002709b5a   36.37    ...       2.036175   2.250073
7          C_ID_00027503e2     NaN    ...      22.587500   5.586564
8          C_ID_000298032a     NaN    ...       1.166905   2.953461
9          C_ID_0002ba3c2e     NaN    ...       8.837916   5.716592
10         C_ID_0002c7c2c1     NaN    ...       6.015951   2.180408
11         C_ID_00032df08f     NaN    ...       3.871710   4.344821
12         C_ID_0003754056     NaN    ...       1.624941   1.027947
13         C_ID_000377f6a0     NaN    ...       2.018444  10.102481
14         C_ID_0003be3c83     NaN    ...            inf        inf
15         C_ID_0003f41435     NaN    ...       5.563343   2.471404
16         C_ID_00042d509c     NaN    ...            inf        inf
17         C_ID_0004587331     NaN    ...            inf        inf
18         C_ID_0004725b87  400.00    ...       1.382999   1.475978
19         C_ID_0004888ddd     NaN    ...            inf        inf

[20 rows x 24 columns]

In [124]:
wide_running_sum.replace([np.inf, -np.inf], np.nan,inplace = True)
wide_running_sum.fillna(-33.219281,inplace = True)
wide_running_sum.head()

month_lag          card_id        -13    ...         ratio5     ratio6
0          C_ID_00007093c1 -33.219281    ...       0.894942   0.959298
1          C_ID_0001238066 -33.219281    ...     -33.219281 -33.219281
2          C_ID_0001506ef0  51.000000    ...       8.038102   4.118635
3          C_ID_0001793786 -33.219281    ...       9.363667   5.174717
4          C_ID_000183fdda -33.219281    ...     -33.219281 -33.219281

[5 rows x 24 columns]

In [125]:
train.head()

  first_active_month          card_id      ...       feature_3  elapsed_time
0         2017-06-01  C_ID_92a2005557      ...               1           245
1         2017-01-01  C_ID_3d0044924f      ...               0           396
2         2016-08-01  C_ID_d639edf6cd      ...               0           549
3         2017-09-01  C_ID_186d6a6901      ...               0           153
4         2017-11-01  C_ID_cdbd2c0db2      ...               0            92

[5 rows x 6 columns]

In [126]:
merge_df = train.merge(right =wide_running_sum,how = 'left', on ='card_id')

merge_df.head()

  first_active_month          card_id    ...         ratio5     ratio6
0         2017-06-01  C_ID_92a2005557    ...      70.812683   5.748989
1         2017-01-01  C_ID_3d0044924f    ...       1.022536   0.980708
2         2016-08-01  C_ID_d639edf6cd    ...       0.427626   0.772510
3         2017-09-01  C_ID_186d6a6901    ...     -33.219281 -33.219281
4         2017-11-01  C_ID_cdbd2c0db2    ...     -33.219281 -33.219281

[5 rows x 29 columns]

In [127]:
merge_df['target'] = target
merge_df.head()

  first_active_month          card_id    ...        ratio6    target
0         2017-06-01  C_ID_92a2005557    ...      5.748989 -0.820283
1         2017-01-01  C_ID_3d0044924f    ...      0.980708  0.392913
2         2016-08-01  C_ID_d639edf6cd    ...      0.772510  0.688056
3         2017-09-01  C_ID_186d6a6901    ...    -33.219281  0.142495
4         2017-11-01  C_ID_cdbd2c0db2    ...    -33.219281 -0.159749

[5 rows x 30 columns]

In [128]:
merge_df[merge_df['target'] <-30]

       first_active_month          card_id    ...         ratio6     target
64             2017-09-01  C_ID_8186f3fcc1    ...     -33.219281 -33.219281
92             2015-05-01  C_ID_b9379a30ea    ...       0.854890 -33.219281
125            2015-10-01  C_ID_e9120f535c    ...     -33.219281 -33.219281
151            2017-03-01  C_ID_65715cb80d    ...       5.333504 -33.219281
225            2017-01-01  C_ID_ae77d244b6    ...       1.388587 -33.219281
248            2015-07-01  C_ID_c4262c902e    ...     -33.219281 -33.219281
254            2017-03-01  C_ID_6a2c823e5f    ...     -33.219281 -33.219281
386            2017-06-01  C_ID_98e1cb10b6    ...     -33.219281 -33.219281
467            2017-03-01  C_ID_eb8175721a    ...      14.044387 -33.219281
515            2016-04-01  C_ID_a2580006bf    ...     -33.219281 -33.219281
566            2016-12-01  C_ID_2e49ece8b1    ...       0.523806 -33.219281
578            2016-04-01  C_ID_7efe2311b7    ...      40.475237 -33.219281
687            2015-12-01  C_ID_bae3e3f87c    ...       3.432596 -33.219281
761            2017-01-01  C_ID_e1844c986c    ...       1.567069 -33.219281
810            2016-02-01  C_ID_237b80978f    ...      16.877922 -33.219281
840            2016-07-01  C_ID_f96d46ff64    ...     -33.219281 -33.219281
922            2013-12-01  C_ID_005799985c    ...       0.774621 -33.219281
925            2017-06-01  C_ID_962d44f420    ...       2.039631 -33.219281
1005           2017-07-01  C_ID_d93d15ab8e    ...     -33.219281 -33.219281
1092           2017-07-01  C_ID_42d0ff3842    ...      20.863571 -33.219281
1153           2016-11-01  C_ID_404d0c0488    ...       0.099257 -33.219281
1571           2017-05-01  C_ID_5c99cb080c    ...       1.838838 -33.219281
1574           2016-10-01  C_ID_1dc14ac66a    ...       9.308432 -33.219281
1601           2016-11-01  C_ID_1e62ff489c    ...       0.011574 -33.219281
1769           2016-11-01  C_ID_2d8cf677c6    ...       4.064787 -33.219281
1849           2017-03-01  C_ID_b6f24b5e58    ...       3.386578 -33.219281
1893           2017-02-01  C_ID_c0120bdf0b    ...      10.909416 -33.219281
1909           2016-07-01  C_ID_19e7c999ad    ...       2.748368 -33.219281
1969           2017-06-01  C_ID_efc4226180    ...     -33.219281 -33.219281
1974           2017-03-01  C_ID_4ae8415eae    ...       0.873708 -33.219281
...                   ...              ...    ...            ...        ...
199349         2016-08-01  C_ID_fe4d17480d    ...       3.577140 -33.219281
199453         2017-02-01  C_ID_c1232adbde    ...      10.492383 -33.219281
199480         2017-04-01  C_ID_de70600444    ...      15.964615 -33.219281
199504         2017-04-01  C_ID_533952e85c    ...       3.338315 -33.219281
199549         2016-11-01  C_ID_e56aaa2eb1    ...       0.446222 -33.219281
199748         2017-06-01  C_ID_65d6cc2c93    ...       3.448870 -33.219281
199767         2016-10-01  C_ID_664eb73bf1    ...     -33.219281 -33.219281
199810         2012-11-01  C_ID_d9537fdfc0    ...       9.057405 -33.219281
199892         2017-05-01  C_ID_9643deae97    ...     -33.219281 -33.219281
200029         2015-06-01  C_ID_277be25179    ...       1.516887 -33.219281
200115         2017-06-01  C_ID_673eba059b    ...     -33.219281 -33.219281
200208         2016-07-01  C_ID_33137d8248    ...       1.718025 -33.219281
200250         2017-03-01  C_ID_e07bc509c2    ...       1.572245 -33.219281
200311         2017-09-01  C_ID_14e3aed970    ...     -33.219281 -33.219281
200381         2016-08-01  C_ID_8beb427440    ...       0.386991 -33.219281
200426         2017-01-01  C_ID_aabf044bcd    ...       0.727678 -33.219281
200474         2016-08-01  C_ID_db056389c9    ...       0.981212 -33.219281
200534         2016-12-01  C_ID_d24bbfba24    ...       0.722345 -33.219281
200652         2016-10-01  C_ID_951c45ad3f    ...     -33.219281 -33.219281
200682         2015-04-01  C_ID_4199f5b7c0    ...       0.071062 -33.219281
200751         2016-11-01  C_ID_85cd7bbd0c    ...       1.927262 -33.219281
200815         2015-03-01  C_ID_22d40c59ff    ...     -33.219281 -33.219281
200831         2017-02-01  C_ID_f28fb61248    ...       0.515347 -33.219281
201012         2015-01-01  C_ID_9789d0a73d    ...       2.480025 -33.219281
201050         2017-08-01  C_ID_d8920df04d    ...     -33.219281 -33.219281
201169         2016-07-01  C_ID_e34ea29439    ...       5.022159 -33.219281
201262         2017-10-01  C_ID_081082a629    ...     -33.219281 -33.219281
201368         2016-08-01  C_ID_6f61bed11c    ...       2.774750 -33.219281
201519         2017-05-01  C_ID_d6c86b18cd    ...     -33.219281 -33.219281
201521         2016-06-01  C_ID_09250aa6bf    ...       1.581512 -33.219281

[2207 rows x 30 columns]

In [129]:
%%time
def predict_row(row):
    if row['ratio'] ==-33.219281:
        return  -33.219281
    elif row['ratio1'] ==-33.219281:
        return -33.219281
    elif row['ratio2'] ==-33.219281:
        return -33.219281
    elif row['ratio3'] ==-33.219281:
        return  -33.219281
    elif row['ratio4'] ==-33.219281:
        return -33.219281
    elif row['ratio5'] ==-33.219281:
        return -33.219281
    elif row['ratio6'] ==-33.219281:
        return -33.219281
    else:
        return 1
merge_df['predict'] = wide_running_sum.apply (lambda row: predict_row(row),axis=1)
merge_df.head()

CPU times: user 11 s, sys: 148 ms, total: 11.1 s
Wall time: 11.2 s

In [130]:
merge_df['var'] = merge_df['predict'] - merge_df['target']
tung =merge_df[merge_df['target'] <-30]
tung.shape

(2207, 32)

In [131]:
tung['var'].value_counts()

-5.000000e-08    1565
 3.421928e+01     642
Name: var, dtype: int64

In [132]:
test_df = test.merge(right =wide_running_sum,how = 'left', on ='card_id')

In [133]:
test_df.shape

(123623, 29)

In [136]:
test_df.columns

Index(['first_active_month',            'card_id',          'feature_1',
                'feature_2',          'feature_3',       'elapsed_time',
                        -13,                  -12,                  -11,
                        -10,                   -9,                   -8,
                         -7,                   -6,                   -5,
                         -4,                   -3,                   -2,
                         -1,                    0,     'last_six_month',
          'first_six_month',              'ratio',             'ratio1',
                   'ratio2',             'ratio3',             'ratio4',
                   'ratio5',             'ratio6'],
      dtype='object')

In [137]:
cols = ['ratio','ratio1','ratio2','ratio3','ratio4','ratio5','ratio6']
merge_test_df = test_df[cols]
merge_test_df.head()

       ratio     ratio1     ratio2    ...         ratio4     ratio5     ratio6
0   0.599084 -33.219281 -33.219281    ...     -33.219281   4.249181   4.176032
1  35.251905   0.884284   1.161797    ...       0.000000   0.000000   0.000000
2   0.015805 -33.219281 -33.219281    ...     -33.219281 -33.219281 -33.219281
3   0.000000 -33.219281 -33.219281    ...     -33.219281 -33.219281 -33.219281
4   0.233649   0.110617   0.296619    ...       1.157250   2.164060   2.911225

[5 rows x 7 columns]

In [138]:
merge_test_df['predict'] = wide_running_sum.apply (lambda row: predict_row(row),axis=1)
merge_test_df.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

       ratio     ratio1     ratio2    ...         ratio5     ratio6    predict
0   0.599084 -33.219281 -33.219281    ...       4.249181   4.176032   1.000000
1  35.251905   0.884284   1.161797    ...       0.000000   0.000000 -33.219281
2   0.015805 -33.219281 -33.219281    ...     -33.219281 -33.219281   1.000000
3   0.000000 -33.219281 -33.219281    ...     -33.219281 -33.219281 -33.219281
4   0.233649   0.110617   0.296619    ...       2.164060   2.911225 -33.219281

[5 rows x 8 columns]

In [139]:
merge_test_df[merge_test_df['predict'] ==-33.219281].shape

(89711, 8)

In [140]:
merge_test_df.shape

(123623, 8)

In [ ]:
merge_test_df.to_csv('postprocessing_test.csv',index = False)